nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}

nav{
    background-color: black;
    overflow: hidden;
}

nav a:hover{
    color: tomato;
}

nav a:visite{
    color: royalblue;
}



/*h3{
    color:blue;
}*/
/*while making a link,we remove its text decoration*/
/*inline elements- background color
nav a{
    text-decoration: none;
    color: white;
    background-color: black;
}*/
/*float takes things out of the box model,rescue-overflow hidden*/